<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<title>About Us</title>
<link href="{% static 'coding/css/bootstrap.min.css' %}" rel="stylesheet">
<!--<link rel="stylesheet" href="offcanvas.css">
<link rel="stylesheet" href="css\materialize.css">-->


<link href="{% static 'coding/css/aboutUs.css' %}" rel="stylesheet">

<link href="{% static 'coding/css/tuts.css' %}" rel="stylesheet">
<link href="{% static 'coding/css/offcanvas.css' %}" rel="stylesheet">
<!--<script src="js\materialize.js"></script>-->
<script src="{% static 'coding/js/jquery-2.0.0.min.js' %}"></script>
<script src="{% static 'coding/js/materialize.min.js' %}"></script>
<script src="{% static 'coding/js/bootstrap.min.js' %}"></script>
<link href="{% static 'coding/css/footer-distributed-with-address-and-phones.css' %}" rel="stylesheet">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">  







</head>
<body background="{% static "coding/bg1.jpg" %}">
    <div class="row">
	<nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><h3>Coding Calendar</h3></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/"><h6>Home</h6></a></li>
            <li class="active"><a href="/about"><h6>About</h6></a></li>
            <li><a href="/contact-us"><h6>Contact</h6></a></li>
          </ul>
		  
		  <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
				</div>
            <button type="submit" class="btn btn-success">Sign in</button>
			
          </form>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
	</div>



<div class="row">
  <div class="col-lg-1"><br/><br/><br/><br/>
</div>

 <div class="col-lg-10" style="box-shadow:10px 0px 50px -2px rgba(0,0,0,1);">
  <br/>


<div class="row" >

      <br>
      <br>
      <center><img src="{% static "coding/abtus.png" %}" height=200 width=700></center>
      <br>
      
      <br><br>
      <div class="col-lg-1">
      </div>
      <div class="col-lg-9">
	  <font face ="Comic Sans MS" size = 6 ><p><b><i><center>Never miss a coding contest ever again!</b></i></center></font></i>
	  <font face ="verdana" size = 3 ><br><b>Coding Calendar</b> shows a list of live & upcoming coding Contests happening on various popular competitive programming websites
       along with this you can compare your performance with other users.<br>
	   We currently support Codechef , HackerEarth , Hackerrank, Topcoder and Codeforces.
	   <br>
	   It has been developed by a group of 4 students of Delhi Technological University. 
      <br>

 

<br><br>
 


<br><br>
</div>

      <hr align="center" size = "52" noshade width = "75%">
      
    </div>
    <font face = "verdana">
    <div class="row">
      <div class="col-lg-3" align ="center">
        <img class="img-circle" src="{% static "coding/past.png" %}" height=200 width=200>
        <br><br>
        <p class="name"><b><u>Mohan Ghai</b></u></p>
        Pursuing B.Tech in Computer Science<br>
        <div class="footer-icons">
		<br>
		rahuljaindel18@gmail.com
		<br>
		9999999999
		<br>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>
		
        </div>
        <br><br><br><br>
      </div>
      <div class="col-lg-3" align ="center">
        <img class="img-circle" src="{% static "coding/past.png" %}" height=200 width=200>
        
		<br><br>
        <p class="name"><b><u>Pranav Jain</b></u></p>
        Pursuing B.Tech in Computer Science<br>
        <div class="footer-icons">
		<br>
		rahuljaindel18@gmail.com
		<br>
		9999999999
		<br>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>
		
        </div>
        <br><br><br><br>
      </div>
      <div class="col-lg-3" align = "center">
  <img class="img-circle" src="{% static "coding/past.png" %}" height=200 width=200>
        	<br><br>
        <p class="name"><b><u>Puneet Gupta</b></u></p>
        Pursuing B.Tech in Computer Science<br>
        <div class="footer-icons">
		<br>
		rahuljaindel18@gmail.com
		<br>
		9999999999
		<br>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>

        </div>
        <br><br><br><br>
      </div>
      <div class="col-lg-3" align ="center">
  <img class="img-circle" src="{% static "coding/past.png" %}" height=200 width=200>
        		<br><br>
        <p class="name"><b><u>Rahul Jain</b></u></p>
        Pursuing B.Tech in Computer Science<br>
        <div class="footer-icons">
		<br>
		rahuljaindel18@gmail.com
		<br>
		9999999999
		<br>
          <a href="https://www.facebook.com/profile.php?id=100006205239524&ref=bookmarks"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>

        </div>
        <br><br><br><br>
      </div>
    </div>  
  </font>
  </div>

  <div class="col-lg-1"><br/><br/><br/><br/>
</div>
</div>
  <footer class="footer-distributed">

      <div class="footer-left">

        <h3>Coding<span>Calendar</span></h3>

        <p class="footer-links">
          <a href="index11.html">Home</a>
          
          <a href="aboutUs.html">About</a>
          
          <a href="contact.html">Contact</a>
        </p>

        <p class="footer-company-name">Coding Calendar <br>&copy; Mohan Ghai, Pranav Jain, Puneet Gupta, Rahul Jain 2016</p>
      </div>
    <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>Delhi Technological University</span> Delhi, India</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+91 8812121221</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@company.com">supportcodingcalendar@gmail.com</a></p>
        </div>

    </div>
    <div class="footer-right">

        <p class="footer-company-about">
          <span>Reach Us</span>
          
        </p>

        <div class="footer-icons">

          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>

        </div>

    </div>
    </footer>

</body>
</html>