<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
<title>Profile</title>
<link href="{% static 'coding/css/bootstrap.min.css' %}" rel="stylesheet">

<link href="{% static 'coding/css/signup.css' %}" rel="signupesheet">

<link href="{% static 'coding/css/tuts.css' %}" rel="stylesheet">
<link href="{% static 'coding/css/table.css' %}" rel="stylesheet">


<link href="{% static 'coding/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">  
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <script type="text/javascript" src="js/materialize.min.js"></script>
 <link href="{% static 'coding/css/offcanvas.css' %}" rel="stylesheet">
  <link href="{% static 'coding/css/materialicons.css' %}" rel="stylesheet">
<link href="{% static 'coding/css/materialize.min.css' %}" rel="stylesheet">
<link href="{% static 'coding/css/footer-distributed-with-address-and-phones.css' %}" rel="stylesheet">
<script src="{% static 'coding/js/jquery-2.0.0.min.js' %}"></script>
<script src="{% static 'coding/js/materialize.min.js' %}"></script>
<script src="{% static 'coding/js/bootstrap.min.js' %}"></script>

<script src="{% static 'coding/js/materialize.js' %}"></script>  
<script src="{% static 'coding/js/offcanvas.js' %}"></script>

</head>
 
 
 
<body background="{% static "coding/bg1.jpg" %}">
    <div class="row">
  <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Coding Calendar</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/"><h6>Home</h6></a></li>
            <li><a href="/about"><h6>About</h6></a></li>
            <li><a href="/contact-us"><h6>Contact</h6></a></li>
          </ul>
      
      {% if request.user.is_authenticated %}
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><h6>Welcome {{user.first_name}}</h6><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="log_out"></h6>Log Out</h6></a></a></li>
          </ul>
        </li>
      </ul>
      
      {% endif %}
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
  </div>

<!-- Grid -->
  
<div class="row">
  <div class="row"></div>
    <div class="col-lg-1"><br/><br/><br/><br/>
  </div>
  <div class="col-lg-10" style="box-shadow:10px 0px 50px -2px rgba(0,0,0,1);">
  <br/>
  <div class="row"></div>
  <br>
  <div class="container">
  <div class="row">
    <div class="col-md-6">
    
      <div class="panel panel-default">
      <div class="panel-body">
                  <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <h2>Mike Anamendolla</h2>
                            <p><strong>About: </strong> Web Designer / UI. </p>
                            <p><strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. </p>
                            <p><strong>Skills: </strong>
                                <span class="label label-info tags">html5</span> 
                                <span class="label label-info tags">css3</span>
                                <span class="label label-info tags">jquery</span>
                                <span class="label label-info tags">bootstrap3</span>
                            </p>
                        </div><!--/col-->          
                        <div class="col-xs-12 col-sm-4 text-center">
                                <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="" class="center-block img-circle img-responsive">
                                <ul class="list-inline ratings text-center" title="Ratings">
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                </ul>
                        </div><!--/col-->

                        <div class="col-xs-12 col-sm-4">
                            <h2><strong> 20,7K </strong></h2>                    
                            <p><small>Followers</small></p>
                            <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
                        </div><!--/col-->
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong>245</strong></h2>                    
                            <p><small>Following</small></p>
                            <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>
                        </div><!--/col-->
                        <div class="col-xs-12 col-sm-4">
                            <h2><strong>43</strong></h2>                    
                            <p><small>Snippets</small></p>
                            <button type="button" class="btn btn-primary btn-block"><span class="fa fa-gear"></span> Options </button>  
                        </div><!--/col-->
                  </div><!--/row-->
              </div><!--/panel-body-->
          </div><!--/panel-->

    
    
    </div>
  </div>
</div>
  </div> 
  <div class="col-lg-1">
    <br><br><br>    
  </div>
</div>
<footer class="footer-distributed">

      <div class="footer-left">

        <h3>Coding<span>Calendar</span></h3>

        <p class="footer-links">
          <a href="index11.html">Home</a>
          ·
          <a href="aboutUs.html">About</a>
          ·
          <a href="contact.html">Contact</a>
        </p>

        <p class="footer-company-name">Coding Calendar <br>&copy; Mohan Ghai, Pranav Jain, Puneet Gupta, Rahul Jain 2016</p>
      </div>
    <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>Delhi Technological University</span> Delhi, India</p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+91 8812121221</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@company.com">supportcodingcalendar@gmail.com</a></p>
        </div>

    </div>
    <div class="footer-right">

        <p class="footer-company-about">
          <span>Reach Us</span>
          
        </p>

        <div class="footer-icons">

          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>

        </div>

    </div>
    </footer>

</body>
</html>